body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-size: 150%;
  margin: auto;
}

.top-container{
  background-color: #E4F9F5;

  position: relative;
  height: 715px;


}

h1{
  font-family: 'Sacramento',cursive;
  font-size: 5.562rem;
  color: #66BFBF;
  position: relative;
  bottom: 70px

  }
  h2{
  font-family: 'Montserrat',sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}



.pro{
    text-decoration: underline;
  }

.intro{
  width: 30%;
  margin: auto;
  line-height: 2;

  }
hr{
  border: dotted #EAF6F6 8px;
  border-bottom: none;
  margin: 100px auto;
  width: 8%;
}
.para{
  line-height: 1;
  font-size: 30px;
  position: relative;
  bottom: 120px;
  color: #66BFBF;
  font-weight: normal;
}

.top-cloud{
  width: 250px;
  position: relative;
  left: 475px;
  top: 70px;
}

.mountain{
  width: 650px;
  position: relative;
  bottom: 200px;
}

.bottom-cloud{
  width: 250px;
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.pranay{
  padding: 30px;
  width:  200px;
  position: relative;
  top: 30px;
  border-radius: 100%;
}
h3{
  font-style: 'Montserrat',sans-serif;
  color: #11999E;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.dd{
  width: 250px;
  border-radius: 100%;
  float: left;
  margin-right: 30px;

}
.python{

  width: 250px;
  border-radius: 100%;
  float: right;
  margin-left: 30px;
}
.aiml{

  width: 250px;
  height: 250px;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.contact-me{
  padding-bottom: 80px;
}

a{
  color: #11999E;
  font-style: 'Montserrat',sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;

}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999a);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999a);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999a);
  background-image: -o-linear-gradient(top, #11cdd4, #11999a);
  background-image: linear-gradient(to bottom, #11cdd4, #11999a);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-style: 'Montserrat',sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
